{% extends 'base.html' %}
{% block content %}
<h2>Available Services</h2>
<div class="row">
    {% for service in services %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">TItle {{ service.title }}</h5>
                <p class="card-text">{{ service.description|truncatewords:15 }}</p>
                <p class="fw-bold"> ${{ service.price }}</p>
                <a href="{% url 'service-detail' service.pk %}" class="btn btn-primary">Book Now</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No services found.</p>
    {% endfor %}
</div>
{% endblock %}